# Node modules (you'll install them fresh in the container)
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Optional OS and editor-related files
.DS_Store
.env
.env.local
.vscode
.idea

# Git
.git
.gitignore

# CDK and IaC (if you're only packaging app code)
IaC/
cdk.out/

# Test files (optional)
__tests__/
*.spec.js
*.test.js
coverage/

# Misc
*.swp
